.sticky {
    font-size: 12px;
    font-family: 'sans-serif';
}

.sticky div {
    display: inline-block;
    padding: 0 4px;
    margin: 0;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    font-weight: 100;
    font-style: italic;
    text-transform: capitalize;
}
.sticky div::selection {
    background-color: #fff;
    color: #000;
}